.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid $red-light;
  .extra-toppings {
    font-weight: 200;
  }
  .update-cartitem-btn {
    @include FlexRowCenter;
    margin-top: 1em;

    button {
      border: none;
      background-color: inherit;
      padding-top: 1em;
      cursor: pointer;

      &.remove-button {
        padding-left: 1em;
        color: $red;
      }
    }
    p {
      padding: 1.5em 1em 1em 1em;
      font-size: 18px;
      text-align: center;
    }
  }
}
