.order-container {
  min-height: 100vh;
  max-width: 100vw;
  padding: 1em;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontRegular;
  line-height: 1.5;
  font-weight: 400;

  .total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  .dual-buttons {
    @include FlexRowCenter;
    justify-content: space-between;
    padding: 1em;

    button {
      background-color: $white;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em;
      width: 8em;
      text-decoration: none;
      border: 1px solid $orange;

      &.clear {
        outline: 1px solid $red;
        border: 1px solid $red;
      }

      &.checkout {
        outline: 1px solid $orange;
        background-color: $orange-light;
      }
    }
  }
}
