.menu {
  ul {
    list-style-type: none;
    @include FlexRowCenter;
    gap: 10px;

    li {
      font-weight: 400;
      font-family: $fontRegular;
      line-height: 1.5;
      font-weight: 700;
    }
  }
}
