ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  &.list {
    li:not(:last-child) {
      border-bottom: 1px solid $red-light;
    }
  }

  .list-item {
    @include FlexRowCenter;
    justify-content: space-between;
    padding: 1em;
    min-width: 50vw;

    button {
      @include Button;
      transition: background-color ease-in 0.2s;
    }
    button:hover {
      background-color: $orange;
    }

    .row {
      @include FlexRowCenter;
    }
  }
}
