.home-container {
  min-height: 100vh;
  max-width: 100vw;
  padding: 1em;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontRegular;
  line-height: 1.5;
  font-weight: 400;

  .content {
    padding: 1.5em;
    outline: 2px solid $orange;
    border: 2px solid $red;
    border-radius: 10px;
  }
}
