.home-container {
  min-height: 100vh;
  max-width: 100vw;
  padding: 1em;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontRegular;
  line-height: 1.5;
  font-weight: 400;

  .menu {
    ul {
      list-style-type: none;
      @include FlexRowCenter;
      gap: 10px;

      li {
        font-weight: 400;
        font-family: $fontRegular;
        line-height: 1.5;
        font-weight: 700;
        padding: 0.5em;
        transition: background-color ease-in 0.2s;

        &.active {
          background-color: $orange-light;
        }
      }

      li:hover {
        background-color: $orange-light;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    .menu {
      ul {
        display: none;
      }
    }
  }
}
