.modal {
  background-color: rgba(0, 0, 0, 0.575);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    min-height: 40vh;
    background-color: $white;
    @include ContainerStyle;

    input,
    label {
      margin-right: 0.5em;
    }
    .extra-toppings {
      font-weight: 200;
    }

    button {
      @include Button;
    }
    input[type="number"] {
      width: 3em;
    }

    .row {
      @include FlexRowCenter;
      margin-top: 1em;
      margin-bottom: 0.5em;
      justify-content: space-between;
    }
  }
}
