header {
  margin: 0;
  padding: 1em;
  @include FlexRowCenter;
  justify-content: space-between;
  gap: 10px;
  max-width: 100vw;
  min-height: 5em;
  background-color: $orange-light;
  font-family: $fontRegular;
  line-height: 1.5;
  font-weight: 400;

  img {
    max-height: 100px;
    max-width: 100px;
  }
}

@media screen and (max-width: 600px) {
  header {
    img {
      max-width: 40px;
      max-height: 40px;
    }

    h1 {
      font-size: medium;
    }
  }
}
