@import "./variables/font";
@import "../components/header/header";
@import "../pages/home/homePage";
@import "../components/container/container";
@import "../components/order/orderItem";
@import "../components/menu/menu";
@import "../components/list/list";
@import "../components/modal/modal";
@import "../pages/order/orderPage";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
