@import "./variables/font";
@import "./functions/functions";
@import "./variables/colors";
@import "../components/header/header";
@import "../pages/home/homePage";
@import "../components/container/container";
@import "../components/order/orderItem";
@import "../components/list/list";
@import "../components/modal/modalcontainer/modal";
@import "../pages/order/orderPage";
@import "../components/modal/productModal/productModal";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
